{{#each books}}
<div>
    {{this.author}}
    "{{this.name}}"
    {{#if this.issuedto}}
    Выдана:{{this.issuedto}}
    {{this.issue}}
    <a class="returnLink" id={{this._id}}> Вернуть </a>
    {{else}}
    <a class="issueLink" id={{this._id}}> Выдать </a>
    {{/if}}
    <a class="deleteLink" id={{this._id}}> Удалить </a>
</div>
{{/each}}